.AboutusPage {
    height: 90vh;  /* To occupy the full viewport height */
    width: 100%;
    background-color: #2e2e2e;  /* Dark Gray */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}


/* Mobile Version */
@media (max-width: 768px) {
    .AboutusPage {
        padding: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    .AboutusContent {
        width: 90%;
        font-size: 1em;
    }
}
