.CreatePage {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    /* Dark Gray */
    color: white;
}

.buttonCreate {
    padding: 10px 20px;
    background-color: #FFA07A;
    /* Hermes-inspired orange */
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #FF7F50;
    /* darker Hermes-inspired orange */
}

.explanation {
    width: 70%;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    /* White color for better readability */
}

.error {
    margin-top: 10px;
    color: red;
    /* Red for error messages */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container input,
.form-container button {
    width: 75%;
    /* Adjust the width as you like */
    padding: 10px;
    /* Make it bigger */
    margin: 10px 0;
    /* Add some margin to separate the elements */
    font-size: 18px;
    /* Increase the font size */

}

.form-container button {
    cursor: pointer;
    border: 2px solid #FFA07A;
}